<!DOCTYPE html>
<html ng-app='LunchCheck'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>Your food guide</title>
  </head>
  <body>
    <h1>Your food guide</h1>
    <div ng-controller='LunchCheckController'>
      <input type="text" ng-model="foodList" />
      <button ng-click="checkFood()">Check If Too Much</button><br/>
      {{checkResult}} <br/>
    </div>
  </body>
</html>
